@media screen and (min-width: 800px) {

    .tip,
    .inputObject,
    .fileTable {
        width: 60%;
    }

}

@media screen and (max-width: 800px) {

    .inputObject,
    .fileTable {
        width: 100%;
    }

    .tip {
        width: 97%;
    }

}

@media (prefers-color-scheme: light) {
    body {
        background: rgb(255, 255, 255);
    }

    a:link,
    a:visited {
        color: rgb(0, 0, 0);
    }

    .inputObject {
        background: rgba(220, 220, 220, 0.5);
        border: 1px solid rgb(230, 230, 230);
    }

    .uploadStyle {
        border: 2px solid rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4);
    }

    .uploadButton {
        background: rgb(135, 195, 255);
    }

    .uploadButton:hover {
        background: rgb(100, 165, 255);
    }

    .uploadButton:active {
        background: rgb(71, 141, 255);
    }

    .fileTable th,
    .tableFoot td {
        background: rgb(199, 209, 241);
    }

    .fileTable td {
        border-bottom: 1px solid rgb(208, 208, 208);
    }

    .fileTable tr:nth-child(odd) {
        background: rgb(240, 240, 240);
    }

    .fileTable tr:nth-child(even) {
        background: rgb(249, 249, 249);
    }

    .fileTable tr:hover {
        background: rgb(224, 224, 224);
    }

    .tip {
        background: rgba(230, 224, 224, 0.5);
        border: 1px solid rgb(230, 230, 230);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(48, 48, 48);
    }

    a:link,
    a:visited {
        color: rgb(255, 255, 255);
    }

    .inputObject {
        background: rgba(20, 20, 20, 0.5);
        border: 1px solid rgb(40, 40, 40);
    }

    .uploadStyle {
        border: 2px solid rgba(255, 255, 255, 0.4);
        color: rgba(255, 255, 255, 0.6);
    }

    .uploadButton {
        background: rgb(96, 109, 148);
        color: rgb(255, 255, 255);
    }

    .uploadButton:hover {
        background: rgb(147, 159, 197);
    }

    .uploadButton:active {
        background: rgb(82, 105, 141);
    }

    .fileTable th,
    .tableFoot td {
        background: rgb(80, 85, 102);
    }

    .fileTable td {
        border-bottom: 1px solid rgb(48, 48, 48);
    }

    .fileTable tr {
        color: rgb(255, 255, 255);
    }

    .fileTable tr:nth-child(odd) {
        background: rgb(41, 41, 41);

    }

    .fileTable tr:nth-child(even) {
        background: rgb(32, 32, 32);
    }

    .fileTable tr:hover {
        background: rgb(64, 64, 64);
    }

    .tip {
        background: rgba(133, 133, 133, 0.5);
        border: 1px solid rgba(12, 17, 17, 0.3);
        color: rgb(255, 255, 255);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputObject {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    height: 70px;
    margin-bottom: 15px;
}

.uploadStyle {
    width: 70%;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 25px;
    margin-right: 10px;
    cursor: pointer;
}

.uploadButton {
    width: 30%;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 12px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1em;
}

.tableContainer {
    justify-content: center;
    margin-bottom: 200px;
}

.fileTable {
    border-collapse: collapse;
    table-layout: fixed;
}

.fileTable th {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.fileTable td {
    padding: 10px 7px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    word-break: break-all;
}

.tableFoot td{
    border: none;
}

.tip {
    position: fixed;
    bottom: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.tip li {
    margin: 4px;
}

::-webkit-scrollbar {
    width: 0px;
}